/web/bundles/
/app/bootstrap.php.cache
/var/cache/*
!var/cache/.gitkeep
/app/config/parameters.yml
/var/logs/*
!var/logs/.gitkeep
/vendor/
/bin/
/composer.phar

# IDE files
/.idea/
/.vagrant/

# server files
sites/
node_modules/
