{{ form_start(delete_form) }}
<h3>Verwijder deze gebruiker ?</h3>
<p>
    Bent u zeker dat u '{{ user.name }}' wil verwijderen ?<br/>
    Deze actie kan niet ongedaan gemaakt worden.
</p>
<button type="submit" class="btn btn-danger" title="Klik om verder te gaan">
    Verwijderen
</button>
<button type="button" class="btn btn-warning" data-dismiss="modal">Annuleren</button>
{{ form_end(delete_form) }}